<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="odisee.be.vardo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_vardo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Reset Password"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindRideActivity"
            android:label="Find a Ride"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OfferRideActivity"
            android:label="Offer a Ride"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RidesBookedActivity"
            android:label="Rides Booked"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RidesOfferedActivity"
            android:label="Rides Offered"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".CampussesActivity"
            android:label="@string/title_activity_campusses" />
        <activity android:name=".RidesBookedActivity"></activity>
    </application>

</manifest>